module ca647_server 1.0.0;

require {
	type unconfined_t;
	class process transition;
}

# defines two new types
type ca647_server_t;
type ca647_server_exec_t;

# if a process in the unconfined_r domain runs an executable whose type is
# ca647_server_t, the process should continue in ca647_server_t domain
role unconfined_r types ca647_server_t;
type_transition unconfined_t ca647_server_exec_t : process ca647_server_t;

# Nothing is allowed for these two types. They are useless
